body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}
ol,ul{list-style:none;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
q:before,q:after{content:'';}
a:hover{-webkit-filter:brightness(1.1);-o-filter:brightness(1.1);-moz-filter:brightness(1.1);filter:brightness(1.1);}
abbr,acronym{border:0;font-variant:normal;}
sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}
input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}
input,textarea,select{font-size:100%;}
input,a{text-decoration: none; outline: none; color: #FFFFFF;-webkit-appearance: none; -webkit-tap-highlight-color:rgba(255,255,255,0);}
.hid{text-indent:-9999px;font-size:0px;overflow:hidden;width:0px;height:0px;display:block;}
.hidden{text-indent:-9999px;font-size:0px;}
body,button,input,select,textarea{font:12px/1.5 "Microsoft YaHei",Helvetica,\5b8b\4f53,sans-serif;}
body{background: #1a1a1c;padding-top: 0!important;}
/*afooter*/
#afooter{text-align:center; line-height:20px;color: #9a9a9a; padding: 20px 0;margin-bottom: -20px;background-color: #000;min-width: 1200px;}
#afooter a{ color: #9a9a9a;}
/*清除浮动*/
.clearfix:after,.clearfix:before{content:"";display:table;}
.clearfix:after{clear:both;}

.wrap1 {max-width: 1920px;height: 100vh;background: url(//game.gtimg.cn/images/codm/cp/a20201209codm/p/bg1.jpg) no-repeat center top;margin: 0 auto;overflow: hidden;position: relative;}
.wrap2{background: url(//game.gtimg.cn/images/codm/cp/a20201209codm/p/bg2.jpg) no-repeat center center;min-width: 1400px;height: 2361px;margin:0 auto;max-width: 1920px;position: relative;}
.cont1,.cont2,.cont3,.cont4{width: 1400px;position: relative;margin:0 auto;}

.bg-video {position: fixed;top: 0;left:0;height: 100vh!important;width: 100%;object-fit:cover;}

.video-bg {width: 100%;height: 100%; background: #000; opacity: .5;position: fixed;left: 0; top: 0;}
/* logo */
.logo{width: 211px;height: 62px; background: url(//game.gtimg.cn/images/codm/cp/a20201209codm/logo.png) no-repeat bottom;position: absolute; margin-left: 40px;top: 80px;}

/* slogan */
.slogan{width: 728px;height: 226px; background: url(//game.gtimg.cn/images/codm/cp/a20201209codm/slogan.png) no-repeat;position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);margin-top: 35px;}

/* 播放按钮*/
.play-box{width: 63px;height: auto;position: absolute;margin-top: -240px;top: 50%;left: 50%;transform: translate(-50%,-50%);-webkit-transform: translate(-50%,-50%);-moz-transform: translate(-50%,-50%);}
.play-box a{display: block;width: 63px;height: 73px;margin-bottom: 18px; background: url(//game.gtimg.cn/images/codm/cp/a20201209codm/btn-play.png) no-repeat;}
.play-box a:hover{-webkit-animation: rotateZ 2s linear infinite; animation: rotateZ 2s linear infinite;-moz-animation: rotateZ 2s linear infinite;}
@keyframes rotateZ{
    0%{transform: rotateZ(0);opacity: .7;}
    50%{transform: rotateZ(180deg);opacity: 1;}
    100%{transform: rotateZ(360deg);opacity: .7;}
}
@-webkit-keyframes rotateZ{
    0%{-webkit-transform: rotateZ(0);opacity: .7;}
    50%{-webkit-transform: rotateZ(180deg);opacity: 1;}
    100%{-webkit-transform: rotateZ(360deg);opacity: .7;}
}
@-moz-keyframes rotateZ{
    0%{-moz-transform: rotateZ(0);opacity: .7;}
    50%{-moz-transform: rotateZ(180deg);opacity: 1;}
    100%{-moz-transform: rotateZ(360deg);opacity: .7;}
}
.play-box span{display: block;width: 116px;height: 37px; background: url(//game.gtimg.cn/images/codm/cp/a20201209codm/play-txt.png) no-repeat;}

/* 登录 */
.login-box{width: 100%;text-align: center;font-size: 16px;color: #fff;line-height: 20px; position: absolute;margin-top: 260px;top: 50%;left: 50%;transform: translate(-50%,-50%);-webkit-transform: translate(-50%,-50%);-moz-transform: translate(-50%,-50%);}
.login-box a{color: #fff;}

/* 立即预约 */
.btn-order{display: block;transition: all 1s ease; width: 323px;height: 74px; background: url(//game.gtimg.cn/images/codm/cp/a20201209codm/btn-order.png) no-repeat;margin-top: 320px; top: 50%;left: 50%;position: absolute; transform: translate(-50%,-50%);-webkit-transform: translate(-50%,-50%);-moz-transform: translate(-50%,-50%);}
.wrap1 .btn-order.on{background: url(//game.gtimg.cn/images/codm/cp/a20201209codm/btn-download.png) no-repeat;}
.wrap1 .tips-next{width: 77px;height: 72px;background: url(//game.gtimg.cn/images/codm/cp/a20201209codm/m/icon-slide.png) no-repeat center;display: block;background-size: 80% 80%;position: absolute;bottom: 1rem;left: 50%;transform: translate(-50%,0);-webkit-transform: translate(-50%,0);-moz-transform: translate(-50%,0);-webkit-animation: slide 1.8s linear infinite;-moz-animation: slide 1.8s linear infinite;animation: slide 1.8s linear infinite;}
@-webkit-keyframes slide{
    0% {-webkit-transform: translate(-50%,-10px); opacity: 1;}
    60% {-webkit-transform: translate(-50%,0); opacity: 0.5;}
    100%{-webkit-transform: translate(-50%,-10px); opacity: 1;}
}
@keyframes slide{
    0% {transform: translate(-50%,-10px); opacity: 1;}
    60% {transform: translate(-50%,0); opacity: 0.5;}
    100% {transform: translate(-50%,-10px); opacity: 1;}
}
@-moz-keyframes slide{
    0% {-moz-transform: translate(-50%,-10px); opacity: 1;}
    60% {-moz-transform: translate(-50%,0); opacity: 0.5;}
    100%{-moz-transform: translate(-50%,-10px); opacity: 1;}
}
/* 底部文案 */
.section1 .icon-foot{display: block; width: 253px;height: 87px; background: url(//game.gtimg.cn/images/codm/cp/a20201209codm/p-foot.png) no-repeat;position: absolute;bottom: 40px;left: 24px;}

/* 两个按钮切换 */
.btn-box{width: fit-content;height: auto;font-size: 0; position: absolute;bottom: 40px;right: 40px;z-index: 9;}

.btn{width: 199px;height: 46px;margin: 0 23px; display: inline-block;vertical-align: top;position: relative;border: 1px solid #fff;box-sizing: border-box;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;}
.btn1 span{display: block;width: 199px;height: 46px; background: url(//game.gtimg.cn/images/codm/cp/a20201209codm/btn1.png) no-repeat;}
.btn2 span{display: block;width: 199px;height: 46px; background: url(//game.gtimg.cn/images/codm/cp/a20201209codm/btn2.png) no-repeat;}
.btn1:hover span,.btn1.on span{display: block;width: 199px;height: 46px; background: url(//game.gtimg.cn/images/codm/cp/a20201209codm/btn1-on.png) no-repeat;transition: all ease .5s;}
.btn2:hover span,.btn2.on span{display: block;width: 199px;height: 46px; background: url(//game.gtimg.cn/images/codm/cp/a20201209codm/btn2-on.png) no-repeat;transition: all ease .5s;}
.btn i{opacity: 0;transition: all ease 1s;width: 29px;height: 6px; background: url(//game.gtimg.cn/images/codm/cp/a20201209codm/icon-pointer.png) no-repeat;position: absolute;top: 50%;left: -30px;transform: translateY(-50%);-webkit-transform: translateY(-50%);-moz-transform: translateY(-50%);}
.btn:hover i,.btn.on i{opacity: 1;transition: all ease 1s;left: -15px;}
.btn::before,.btn.on::before{content: '';transition: all ease .5s;width: 0;height: 0;border-top: 1px solid #e4cf36;border-left: 1px solid #e4cf36;position: absolute;top: -1px;left: -1px;}
.btn::after,.btn.on::after{content: '';transition: all ease .5s;width: 0;height: 0;border-bottom: 1px solid #e4cf36;border-left: 1px solid #e4cf36;position: absolute;bottom: -1px;left: -1px;}
.btn span::before,.btn.on span::before{content: '';transition: all ease .5s;width: 0;height: 0;border-top: 1px solid #e4cf36;border-right: 1px solid #e4cf36;position: absolute;top: -1px;right: -1px;}
.btn span::after,.btn.on span::after{content: '';transition: all ease .5s;width: 0;height: 0;border-bottom: 1px solid #e4cf36;border-right: 1px solid #e4cf36;position: absolute;bottom: -1px;right: -1px;}
.btn:hover,.btn.on{border: 1px transparent solid;}
.btn:hover::before,.btn.on::before{width: 50%;height: 18px;transition: all ease .5s;}
.btn:hover::after,.btn.on::after{width: 50%;height: 18px;transition: all ease .5s;}
.btn:hover span::before,.btn.on span::before{width: 50%;height: 50%;transition: all ease .5s;}
.btn:hover span::after,.btn.on span::after{width: 50%;height: 50%;transition: all ease .5s;}

/* 
* 第一屏
*/
/* 预告片 */
.notice-box{width: fit-content;height: auto;overflow: hidden; position: absolute;bottom: 130px;right: 0;}
.btn-expand{display: block;position: relative;z-index: 9; width: 18px;height: 154px;float: left; background: url(//game.gtimg.cn/images/codm/cp/a20201209codm/btn-expand.png) no-repeat;}
/* 预告片轮播 */
.notice-box .swiper-container{float: left;width: 494px;display: none;}
.notice-box .swiper-slide{width: 277px;height: auto;margin-right: 20px;}
.notice-box .swiper-slide span{display: block; width: 277px;height: 128px;position: relative;}
.notice-box .swiper-slide span::before{content: '';display: block;width: 100%;height: 100%; border: 2px solid #ffeb37;position: absolute;top: 0;left: 0;box-sizing: border-box;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;}
.notice-box .swiper-slide p{text-align: right;font-size: 16px;color: #fff;margin-top: 10px;}
.notice-box .swiper-slide p i{font-style: normal; margin-right: 5px; transform: scaleY(1.1);-webkit-transform: scaleY(1.1);-moz-transform: scaleY(1.1);}


.wrap2 .left{position: absolute;top:160px;float: left;}
.wrap2 .left .film{background: url(//game.gtimg.cn/images/codm/cp/a20201209codm/p/film.png) no-repeat;width: 776px;height: 582px;background-size: 100% 100%;margin-left: -30px;}
.wrap2 .left img{margin-left: 33px;}
.wrap2 .right{float: right;width: 590px;padding-top:160px;position: relative;}
.wrap2 .right .title{background: url(//game.gtimg.cn/images/codm/cp/a20201209codm/p/title1.png) no-repeat center right;width: 100%;height: 119px;}
.wrap2 .right .word{color:#878787;font-size: 16px;margin-top:10px;}
.wrap2 .right .word em{color:#e2e2e2;}

.wrap2 .sanjiao{background: url(//game.gtimg.cn/images/codm/cp/a20201209codm/p/sanjiao.png) no-repeat;width: 7px;height: 8px;position: absolute;top:434px;left: -18px;}
.wrap2 .right .schedule-box{position: relative;width: 590px;height: 255px;margin-bottom: 40px;overflow: hidden;}
.wrap2 .right .swiper-schedule{width: 590px;overflow: visible;}
.wrap2 .right .schedule-box .swiper-slide{height: 1px;margin-top: 100px;background: #b3b3b3;position: relative;width: 126px;}

.wrap2 .right .swiper-slide .bar{background: url(//game.gtimg.cn/images/codm/cp/a20201209codm/p/bar.png) no-repeat;width: 20px;height: 18px;position: absolute;z-index:2;left:50px;top:-8px}
.wrap2 .right .swiper-slide.on .bar{background: url(//game.gtimg.cn/images/codm/cp/a20201209codm/p/bar-on.png) no-repeat;}
.wrap2 .right .swiper-slide.on .number{color:#ffe93d}
.wrap2 .right .swiper-slide .number{position: absolute;top:-50px;font-size: 26px;color:#878787;left:30px}
.wrap2 .right .swiper-slide img{position: absolute;top:25px;left:30px}



.wrap2 .btns-box{width: 574px;height: 74px;float: right;}
.wrap2 .btns-box .btn-invite{background:url(//game.gtimg.cn/images/codm/cp/a20201209codm/p/btn-invite.png) no-repeat;width: 271px;height: 74px;display: inline-block;}
.wrap2 .btns-box .btn-invite.on{background: url(//game.gtimg.cn/images/codm/cp/a20201209codm/p/btn-invite-on.png) no-repeat;}
.wrap2 .btns-box .btn-look{background: url(//game.gtimg.cn/images/codm/cp/a20201209codm/p/btn-look.png) no-repeat;width: 271px;height: 74px;display: inline-block;margin-left: 28px;}
.wrap2 .btns-box .btn-look.on{background: url(//game.gtimg.cn/images/codm/cp/a20201209codm/p/btn-look-on.png) no-repeat;}

.wrap2 .cont2 .title{background: url(//game.gtimg.cn/images/codm/cp/a20201209codm/p/rank.png) no-repeat;width: 627px;height: 26px;margin:95px auto 0;}
.wrap2 .cont2 .rank-bg{margin-top:20px;background: url(//game.gtimg.cn/images/codm/cp/a20201209codm/p/rank-bg.png) no-repeat;width: 1400px;height: 100px;}
.wrap2 .cont2 .rank-bg li{float: left;position: relative;width:95px;height: 100px;margin-right: 31px;}
.wrap2 .cont2 .rank-bg li:first-child{margin-left: 90px;}
.rank-bg li span{color:#e0e0e0;font-size: 16px;position: absolute;top:5px;font-weight: bold;}
.rank-bg li.on span{color:#ffe93d;}
.rank-bg li img{display: block;margin:15px auto;}

.cont3{margin-top:112px}
.cont3 .title{background: url(//game.gtimg.cn/images/codm/cp/a20201209codm/p/title2.png) no-repeat;width: 497px;height: 120px;}
.cont3 .word{color:#878787;font-size: 16px;margin-top:10px;}
.cont3 .word em{color:#e2e2e2;}

.cont3 .integral{font-size: 16px;margin-top:50px;width: 843px;text-align: right;color:#878787;margin-bottom: 10px;}
.cont3 .integral em{color:#e2e2e2;}
.cont3 .integral a{color:#ffe93d;font-weight: bold;padding-left: 10px;cursor: pointer;}
.cont3 .lottery .lotterycontent_container{top:238px}
.cont3 .lottery .lottery-inner{width: 843px;height: 387px;}
.cont3 .lottery .lottery-inner li{float: left;width: 273px;height: 121px;background: url(//game.gtimg.cn/images/codm/cp/a20201209codm/p/cj-prop-bg.png) no-repeat;margin-right: 12px;margin-bottom: 12px;position: relative;}
.cont3 .lottery .lottery-inner li:nth-child(3),.cont3 .lottery .lottery-inner li:nth-child(6),.cont3 .lottery .lottery-inner li:last-child{margin-right: 0;}
.cont3 .lottery .lottery-inner li.btn-cj{background: url(//game.gtimg.cn/images/codm/cp/a20201209codm/p/btn-cj.png) no-repeat;}
.cont3 .lottery .lottery-inner li img{display: block;margin:10px auto 0;}
.cont3 .lottery .lottery-inner li p{text-align: center;background: #4f4f4f;color:#cbcbcb;font-size: 18px;position: absolute;bottom:0;width: 273px;}

.cont3 .cj-adorn{background: url(//game.gtimg.cn/images/codm/cp/a20201209codm/p/cj-adorn.png) no-repeat;width: 822px;height: 12px;margin-top:10px;}

.cont4{background: url(//game.gtimg.cn/images/codm/cp/a20201209codm/p/integral-bg.png) no-repeat;width: 1254px;height: 302px;margin:170px auto 0;overflow: hidden;}
.cont4 .text{color:#878787;font-size: 20px;margin-left: 435px;margin-top:55px;}
.cont4 .text p{line-height: 2;}



/* 弹窗 */
.dialog{position: relative;}
.dialog .dia-close{display: block;width: 47px;height: 47px; background: url(//game.gtimg.cn/images/codm/cp/a20201209codm/btn-close.png) no-repeat;position: absolute;top: 0;right: -70px;}
.dia-btn{display: block;text-align: center; width: 227px;height: 60px; background: url(//game.gtimg.cn/images/codm/cp/a20201209codm/p/dia-btn.png) no-repeat;font-size: 20px;color: #ffe93d;line-height: 60px; position: absolute;bottom: 85px;left: 245px;}
.dia-p4 .dia-btn{bottom: 75px;}

/* dia1 */
.dia-p1{width: 626px;height: 414px; background: url(//game.gtimg.cn/images/codm/cp/a20201209codm/p/dia-p1.png) no-repeat;}
.dia-p1 .dia-con{margin:0 10px 0 30px;padding-top: 40px;}
.dia-p1 img{width: 149px;height: 149px;background-size: 100% 100%;float: left;margin-right: 20px;}
.dia-p1 p{font-size: 26px;color: #e2e2e2;font-weight: bold;float: right;width: 410px;letter-spacing: 4px;}

.dia-p2,.dia-p3,.dia-p6,.dia-p7{width: 680px;height: 340px; background: url(//game.gtimg.cn/images/codm/cp/a20201209codm/p/dia-p2.png) no-repeat;}
.dia-p2 .dia-con,.dia-p3 .dia-con,.dia-p6 .dia-con,.dia-p7 .dia-con{margin: 0 50px;padding: 75px 0 0 35px;}
.dia-p2 p,.dia-p3 p,.dia-p6 p,.dia-p7 p{font-size: 26px;color: #bbbbbb;line-height: 38px;text-align: center;}

.dia-p4{width: 680px;height: 780px; background: url(//game.gtimg.cn/images/codm/cp/a20201209codm/p/dia-p4.png) no-repeat;}
.dia-p4 .dia-con{margin: 0 55px;padding: 75px 0 0 35px;}
.dia-p4 p{font-size: 26px;color: #bbbbbb;line-height: 38px;text-align: center;padding: 0 10px;}
.dia-p4 .dia-con div{width: 100%;height: auto;margin-top: 60px;font-size: 22px;line-height: 38px; color: #707070;}
.dia-p4 input{display: block;width: 100%; background: none;border: none;font-size: 22px; line-height: 38px;border-bottom: 1px solid #676767;margin-bottom: 30px;padding: 0 5px;box-sizing: border-box;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;}
.dia-p4 span{display: block;float: left;width: 50%;height: 38px; border-bottom: 1px solid #676767;margin-bottom: 30px;}
.dia-p4 select{width: 235px;display: inline-block;color: #bbbbbb;font-size: 22px; line-height: 38px;background: none;border: none;padding: 0 5px;box-sizing: border-box;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;}

.dia-p5{width: 680px;height: 394px; background: url(//game.gtimg.cn/images/codm/cp/a20201209codm/p/dia-p3.png) no-repeat}
.dia-p5 .dia-con{margin: 0 115px;padding: 75px 0 0 35px;}
.dia-p5 p{font-size: 26px;color: #bbbbbb;line-height: 38px;text-align: center;}
.dia-p5 span{display: block;margin: 35px auto 0; width: 135px;height: 135px; background: url(//game.gtimg.cn/images/codm/cp/a20201209codm/p/dia-dj.png) no-repeat;text-align: center;}
.dia-p5 span img{width: 100%;height: 100px;display: block;margin: 0 auto;}
.dia-p5 span em{font-size: 20px;color: #dbdbdb;line-height: 35px;display: block;}


.dia2{width: 1158px;height: 602px; background: url(//game.gtimg.cn/images/codm/cp/a20201209codm/dia1-bg.png) no-repeat bottom left;padding: 0 0 37px 32px;}
.dia2 .dia-con{height: auto;height: 100%;overflow: hidden;}
.dia2 .btn-video{display: block;width: 1158px;height: 602px;position: relative;z-index: 1;}
.dia2 .btn-video img{width: 100%;height: 100%;object-fit: cover; }
.dia2 .btn-video i{display: block;display: flex;align-items: center; width: 100%;height: 100%;background: rgba(0,0,0,.5);position: absolute;top: 0;left: 0;}
.dia2 .btn-video i::before{content: '';display: block;margin: 0 auto; width: 63px;height: 73px;background: url(//game.gtimg.cn/images/codm/cp/a20201209codm/btn-play.png) no-repeat;z-index: 3;}
.dia2 .dia-video{width: 1158px;height: 602px;position: relative;}

